body {
    text-rendering: optimizeLegibility;
    font-family: "Akzidenz-Grotesk Std Med";
}
.back{

}


.front{
 
}

.visible{
  display: inline-block;
}

.invisible{
  display: none;
}

a{
  text-decoration: none;
  color: black;
  font-family: "Akzidenz-Grotesk Std Med";
}

@font-face {
    font-family: "Akzidenz-Grotesk Std Med";
    src: url('AkzidenzGroteskStd-Md.otf'); 
}

ul{
  text-decoration: none;
  list-style-type: none;
  position: fixed;
  font-family: "Akzidenz-Grotesk Std Med", sans-serif;

}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    padding-right: 50px;
    background-color: none;
    font-size: 2.25vw;
}
.active{
  float:right;
}

img{
  height: 11vw;
  width: auto;
}